{erl_opts, []}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, 'interface-improvments'}}
   }

  ,{datalog, ".*",
      {git, "https://github.com/fogfish/datalog", {branch, 'use-recursive-stream-for-sigma-eval'}}
   }

  ,{eredis, ".*",
      {git, "https://github.com/wooga/eredis.git", {branch, master}}
   }
]}.