{erl_opts, []}.

{deps, [
   {datum, "4.5.0"}
,  {datalog, "1.2.2"}

,  {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

,  {semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, master}}
   }

  ,{hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   }

  ,{clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   }

  ,{eredis, ".*",
      {git, "https://github.com/wooga/eredis.git", {branch, master}}
   }
]}.